.App {
  display: flex;
  flex-direction: column; /* or row, depending on your layout */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
  text-align: center;
}

/* Add additional styles as needed */
