.main {
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    justify-content: center;
    align-items: center;
    /* height: 100vh; Set the height to 100% of the viewport height */
    text-align: center;
    padding: 20px;
    background: radial-gradient(circle, #4b6cb7, #182848);
  }

.main h1 {
    color: white;
}